.footer{
    background-color: lightgrey;
    padding :2% 2%;
    margin-top: 7%;
   text-align: center;
    transition: 500ms ease-in-out;
     position: fixed;
    bottom: 0;
    width:100%;
}
.footer h3{

display :inline-block;
}

